<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Calculations</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <img src="/image/dollar.jpg" class="dollar-img"/>

    <h1>LESS STRESS, <br>BETTER COMPUTATIONS</h1>
    
    <button class="btn" id="btn" > <a href="/user/signup"> GET STARTED</a></button>

</body>
</html>