*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    height: 100vh;
    padding: 20px;
    margin: 0;
  }

 h1 {
    text-align: center;
    color: black;
}

.btn {
    color: #fff;
    background-color: orangered;
    cursor: pointer;
    border-radius: 10px;
    font-size: 27px;
    padding: 5px 12px;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    display: flex;
}